services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: Laravel
    depends_on:
      - db
    ports:
      - "8080:8000"
    environment:
      APP_ENV: dev
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: laravel
      DB_USERNAME: user
      DB_PASSWORD: 1234

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: laravel
    ports:
      - "5432:5432"